:host {
    [infinite-container] {
        overflow-y: scroll;
        overflow-x: none;
    }

    .debug {
        border: 1px dotted green;
        background-color: rgba(0, 128, 0, 0.5);
    }

    .infinite-scroll-row-container {
        display: flex;
    }
}
