<div [class.noScrollBar]="options.hideScrollbar">
  <div #infiniteContainer infinite-container [style.height]="height">
    
    <ng-container *ngFor="let row of data">
      <ng-container *ngIf="rowTemplateRef" [ngTemplateOutlet]="rowTemplateRef"
        [ngTemplateOutletContext]="{$implicit:row}">
      </ng-container>
    </ng-container>

    <ng-container [ngSwitch]="this.options.loaderStyle" *ngIf="rowSkeletonTemplateRef && isLoading()">
      <ng-container *ngSwitchCase="'single'">
        <ng-container [ngTemplateOutlet]="rowSkeletonTemplateRef"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'many'">
        <ng-container [ngTemplateOutlet]="rowSkeletonTemplateRef" *ngFor="let row of skeletons"></ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="isEOD()" [ngTemplateOutlet]="eodTemplateRef"
      [ngTemplateOutletContext]="{$implicit:this}">
    </ng-container>

  </div>
</div>
