@import 'base.scss';

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.content-flex {
  display: flex;
}


.terminal {
  padding-top: 32px;

  ul {
    padding: 0;
  }
}


.infinite-scroll-row-skeleton-loader {
  display: flex;
  height: 150px;
  width: 100%;
}
.infinite-scroll-row-custom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid white;
  height: 150px;
}


.red-loading-pulse {
  $startColor: white;
  $endColor: rgb(150, 0, 0);

  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, $startColor 0%, $endColor 50%);
  background-size: 800% 200%;
  animation: pulse 5.0s ease-in infinite;

  @keyframes pulse {
    0% {
      background-position: 0% 0%
    }

    100% {
      background-position: -200% 0%
    }
  }
}
