<div class="content" role="main">

  <input type="text" #queryInput (keyup.enter)="ddd(queryInput.value)">

  <div class="terminal">
    
    <app-infinite-scroll-list [getPage]="getNextPageCallback" [options]="scrollerOptions" [query]="{queryText}">

      <ng-template let-row #row>
        <div class="infinite-scroll-row-custom-content">
          {{row.title}}
        </div>
      </ng-template>

      <ng-template #rowSkeleton>
        <div class="infinite-scroll-row-skeleton-loader align-center">
          <!-- <h1 class="red-loading-pulse align-center">Loading
          </h1> -->
          <mat-spinner [diameter]="100" [strokeWidth]="70"></mat-spinner>
        </div>
      </ng-template>

      <ng-template let-scroller #eod>
        <div class=" infinite-scroll-row-custom-content align-center" #eod>
          <h1 eod>END OF DATA</h1>
          <button type="button" mat-button disableRipple matSuffix mat-icon-button (click)="scroller.top()">
            Back To Top
          </button>
        </div>
      </ng-template>

    </app-infinite-scroll-list>

  </div>

</div>

<router-outlet></router-outlet>
