
@import 'base.scss';

.terminal {
  padding-top: 20px;

  ul {
    padding: 0;
  }

  h2.loading-elipsis:after {
    line-height: 16px;
    top: -15px;
    position: relative;
    color: white;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 2000ms infinite;
    animation: ellipsis steps(4, end) 2000ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0px;
  }

  @keyframes ellipsis {
    to {
      width: 19px;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 19px;
    }
  }
}

.asdfg {
  height: 100px;
  // border: 1px solid black;
  border-bottom: 1px solid white ;
}

.gggg {
  justify-content: center;
  display: flex;
  align-items: center;
}

.content-flex {
  display: flex;
}

.center {
  justify-content: center;
  vertical-align: middle;
}





.pulse {
  $c: white;
  $c1: rgb(150, 0, 0);
  $c2: white;
  $c3: white;
  // $from: black;
  // $to: scale-color($from, $lightness: -10%);

  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, $c 0%, $c1 50%);
  background-size: 800% 200%;
  animation: pulse 5.0s ease-in infinite;

  @keyframes pulse {
    0% {
      background-position: 0% 0%
    }

    100% {
      background-position: -200% 0%
    }
  }
}
