<div class="content" role="main">
  <div class="terminal">

    <app-infinite-scroll-list [getNextPageCallback]="getNextPageCallback" [options]="scrollerOptions">

      <ng-template let-dataRow #body>
        <div class="infinite-scroll-row-custom-content">
          {{dataRow.title}}
        </div>
      </ng-template>

      <ng-template #skeletonLoader>
        <h1 class="red-loading-pulse align-center">Loading</h1>
      </ng-template>

      <div class="content-flex center" loader>
        <mat-spinner [diameter]="100" [strokeWidth]="70"></mat-spinner>
      </div>

      <div class="content-flex center" eod>
        <h1 eod>END OF DATA</h1>
      </div>

    </app-infinite-scroll-list>

  </div>


</div>

<router-outlet></router-outlet>
